@charset "UTF-08";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #025939, #027333);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #041a0c;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #032FA0;
    text-align: center;
    text-shadow: 1px 1px 0px #032fa094;
}

h2 {
    color: #135680;
}

p {
    text-align: justify;
}